{% extends "base.html" %}

{% block title %}
Main
{% endblock %}

{% block content %}

<section class="container">
	<div class="content">
		<div class="row">

			<div class="col-md-4">
				<div class="contacts">
					<h2>Chats</h2>
					<p id="new-chat">create new chat</p>
					<ul>
						
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="container-messages">
					<div class="all-messages">
						<ul>
							
						</ul>
					</div>
					<form action="">
						<textarea name="message" id="new-message" ></textarea>
						<button>Отправить</button>
					</form>
				</div>
			</div>
			<div class="col-md-2">
				<h2>Users chat</h2>
				<div id="user-curent-chat">
					<ul>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="new-chat-wraper">
	<div class="popup-form">
		<h2>All users</h2>
		<div id="button-hidden-popup">X</div>
		<label for="name-chat">Name chat:</label>
		<input type="text" id="name-chat" name="name">
		<div id="users-for-chat">
			<ul>

			</ul>
		</div>
		<button id="create-chat">Create chat</button>
	</div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
//global information
var currentUserInfo;
//CHATS
//Load list users
$('#new-chat').on('click', function(){

	var container = $('#users-for-chat ul');
	$('.new-chat-wraper').css('display', 'block');
	$.ajax({
		url: "/api/users/",
		dataType: 'json',
		success: function(data){
			data.forEach(function(element){
				$('#users-for-chat ul').append('<li data="'+element['id']+'">'+element['username']+'</li>'); 
			})
		}
	})
	
	
});
// Select user for new chat
$('#users-for-chat ul').on('click', 'li',function(){
	if($(this).hasClass('active')){
		$(this).removeClass('active');
	}else {
		$(this).addClass('active');
	}
})

// Send form create new chat
$('#create-chat').on('click',function(){
	var nameChat, arrayUser = [];
	nameChat = $('#name-chat').val();
	$('#users-for-chat ul li').each(function(element){
		if($(this).hasClass('active')){
			arrayUser.push($(this).attr('data'));
		}
	})
	console.log({ name : nameChat, participants: arrayUser});
	$.ajax({
		url: "/api/chats/",
		method: "POST",
		dataType: "multipart/form-data",
		data: { name : nameChat, participants: {1:1,2:2,3:3}},
		success: function(data){
			hiddenPopup();
		}
	});
})

// Chooise chats
$('.contacts ul').on('click', 'li', function(){
	var idChat = $(this).attr('data');
	showMessages(idChat);
})

// Hidden popup
$('#button-hidden-popup').on('click', function(){
		hiddenPopup();
	})




function hiddenPopup() {
	$('.new-chat-wraper').css('display', 'none');
	$('#users-for-chat ul').html('');
}

function showMessages(idChat){
	$.ajax({
		url: "/api/chats/"+idChat+"",
		dataType: 'json',
		success: function(data){
			var textposition = '';
			console.log(data);

			data['messages'].forEach(function(element){
				if(element['sender'] == getMyId()){
					textposition = 'style="text-align: right;"';
				}
				$('.all-messages ul').append('<li '+textposition+'>'+element['text']+'</li>')
			});

			data['participants'].forEach(function(element){
				if(element['sender'] == getMyId()){
					textposition = 'style="text-align: right;"';
				}
				$('.all-messages ul').append('<li '+textposition+'>'+element['text']+'</li>')
			});

		}
	})
}
	
function loadListChats() {
	var container = $('.contacts ul');
	$.ajax({
		url: "/api/chats/",
		success:function(data){
			putListContent(data, container);
			
			
		}
	})
}

function putListContent(arrayElements, container){
	arrayElements.forEach(function(element){
		container.append('<li data="'+element['id']+'">'+element['name']+'</li>');
	})
}

function getMyId(){
	return currentUserInfo['id'];
}
function getMyName() {
	return currentUserInfo['username'];
}

	$.ajax({
		url: "/api/users/me/",
		dataType: 'json',
		success: function(data){
			currentUserInfo = data;
		}
	})



$(document).ready(function(){
	loadListChats();
})

</script>

{% endblock %}